<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue Webpack Example2</title>
  </head>
  <body>
    <div id="app"></div>
    {% if config.DEBUG: %}
    <script src="http://localhost:8080/static/build.js"></script>
    {% else: %}
    <script src="static/build.js"></script>
    {% endif %}
  </body>
</html>

